@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/hover.css/css/hover-min.css";

.is-button:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.avatar {
  padding-left: 110px;
}

.Typewriter__wrapper {
  font-family: monospace !important;
}

.is-icon {
  transform: scale(3);
}

.is-nav-icon {
  transform: scale(1.5);
}

/* @apply doesn't work + assigning them in assets.js as tailwindcss classes doesn't work either */
.sass-icon,
._pink {
  color: #be185d;
}

.react-icon,
._blue {
  color: #2563eb;
}

.vue-icon,
._green {
  color: #059669;
}

.angular-icon,
._red {
  color: #dc2626;
}

.uikit-icon,
._yellow {
  color: #fbbf24;
}

.polygot-icon,
._orange {
  color: #b45309;
}

.server-icon,
._grey {
  color: #4b5563;
}

.cms-icon,
._indego {
  color: #4338ca;
}

body .dark {
  background-color: #1f2937;
}

body .light {
  background-color: #f3f4f6;
}

.dark strong {
  color: white !important;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #059669;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media (max-width: 900px) {
  .avatar {
    padding-left: 80px;
  }
}

@media (max-width: 700px) {
  .avatar {
    padding-left: 60px;
    padding-top: 20px;
  }
}

@layer base {
  input,
  textarea {
    @apply block w-full;
  }

  code {
    @apply text-green-800;
  }

  .dark code {
    @apply text-cyan-600;
  }

  pre code {
    @apply text-green-600;
  }

  .dark pre code {
    @apply text-pink-600;
  }

  .dark pre {
    @apply bg-gray-200;
  }

  pre {
    @apply bg-gray-900 text-sm 
    overflow-x-auto p-6 rounded-lg;
  }
}

@layer components {
  .dark {
    @apply bg-gray-900;
  }

  ._markdown_ h1 {
    @apply text-2xl;
  }

  ._markdown_ p {
    @apply space-y-10 my-4;
  }

  ._markdown_ h2 {
    @apply text-xl;
  }
}
