/* @apply doesn't work + assigning them in assets.js as tailwindcss classes doesn't work either */
.sass-icon {
  color: #be185d;
}

.react-icon {
  color: #2563eb;
}

.vue-icon {
  color: #059669;
}

.angular-icon {
  color: #dc2626;
}

.uikit-icon {
  color: #fbbf24;
}

.polygot-icon {
  color: #b45309;
}

.server-icon {
  color: #4b5563;
}

.cms-icon {
  color: #4338ca;
}

body .dark {
  background-color: #1F2937;
}

body .light {
  background-color: #F3F4F6;
}

.dark strong {
  color: white !important;
}
